extends layout

block content 
    div(class="ui message attached " + background_color  style="height:50px") Greatest Hits
    div(class="ui attached segment")
      div(class="ui three column doubling grid")
        each album in albums
          div(class="column")
            div(class="ui fluid card")
              div(class="ui image")
                img(src=album.image_url, alt=album.title)
              div(class="content")
                div(class="header")
                  span(class="album-title")=album.title
                div(class="meta")
                  span(class="meta-info")=album.artist
                div(class="description")
                  span(class="meta-info")=album.price
      

  

